{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'assets/css/plugins/iCheck/custom.css'
    'assets/css/plugins/steps/jquery.steps.css'
    'assets/css/plugins/noUiSlider/jquery.nouislider.css'
    'assets/css/plugins/qTip/jquery.qtip.css' filter='cssrewrite' output='compiled/css/create-analysis.css' %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <br><br>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Preprocessing</h5>
                </div>
                <div class="ibox-content">
                    <h2>Preprocessing</h2>

                    <form id="form" action="#" class="wizard-big">
                        <h1>Preprocessing</h1>
                        <section>
                            <div class="row">
                                <div class="col-lg-3">
                                    <label>Undersampling: <i class="fa fa-question-circle parameter_value_off"
                                                             id="q1"></i></label>

                                    <div class="radio i-checks">
                                        <label><input class="required" name="undersampling" type="radio" value="1">
                                            True </label>
                                        <br>
                                        <label><input checked class="required" name="undersampling" type="radio"
                                                      value="0"> False </label>
                                    </div>

                                    <div class="row text-center">
                                        <label>Undersampling Rate = <span class="example-val parameter_value_off"
                                                                          id="undersampling_rate-value"></span>
                                            <span class="parameter_value_off"
                                                  id="undersampling_rate-value2"> %</span>
                                        </label>

                                        <div class="col-lg-10 col-lg-offset-1">
                                            <div id="undersampling_rate-slider"></div>
                                            <input id="undersampling_rate" name="undersampling_rate" type="hidden"
                                                   value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label>Oversampling (SMOTE): <i
                                                class="fa fa-question-circle parameter_value_off"
                                                id="q2"></i></label>

                                    <div class="radio i-checks">
                                        <label><input class="required" name="oversampling" type="radio" value="1">
                                            True </label>
                                        <br>
                                        <label><input checked class="required" name="oversampling" type="radio"
                                                      value="0"> False </label>
                                    </div>

                                    <div class="row text-center">
                                        <label>SMOTE Percentage = <span class="example-val parameter_value_off"
                                                                        id="oversampling_percentage-value"></span>
                                            <span class="parameter_value_off"
                                                  id="oversampling_percentage-value2"> %</span>
                                        </label>

                                        <div class="col-lg-10 col-lg-offset-1">
                                            <div id="oversampling_percentage-slider"></div>
                                            <input id="oversampling_percentage" name="oversampling_percentage"
                                                   type="hidden" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label>Missing data handling: <i
                                                class="fa fa-question-circle parameter_value_off"
                                                id="q3"></i></label>

                                    <div class="radio i-checks">
                                        <label><input class="required" name="missing_data" type="radio"
                                                      value="average"> Impute with average </label>
                                        <br>
                                        <label><input class="required" name="missing_data" type="radio"
                                                      value="interpolation"> Perform linear interpolation </label>
                                        <br>
                                        <label><input checked class="required" name="missing_data" type="radio"
                                                      value="default"> Impute with <i>-1</i> </label>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label>Principal Component Analysis: <i
                                                class="fa fa-question-circle parameter_value_off"
                                                id="q4"></i></label>

                                    <div class="radio i-checks">
                                        <label><input class="required" name="pca" type="radio" value="1"> True
                                        </label>
                                        <br>
                                        <label><input checked class="required" name="pca" type="radio" value="0">
                                            False </label>
                                    </div>

                                    <div class="row text-center">
                                        <label>Number of Components = <span class="example-val parameter_value_off"
                                                                            id="n_components-value"></span></label>

                                        <div class="col-lg-10 col-lg-offset-1">
                                            <div id="pca-slider"></div>
                                            <input id="n_components" name="n_components" type="hidden" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <label>Standardization: <i class="fa fa-question-circle parameter_value_off"
                                                               id="q5"></i></label>

                                    <div class="radio i-checks">
                                        <label><input class="required" name="standardization" type="radio"
                                                      value="1"> True </label>
                                        <br>
                                        <label><input checked class="required" name="standardization" type="radio"
                                                      value="0"> False </label>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label>Normalization: <i class="fa fa-question-circle parameter_value_off"
                                                             id="q6"></i></label>

                                    <div class="radio i-checks">
                                        <label><input class="required" name="normalization" type="radio" value="1">
                                            True </label>
                                        <br>
                                        <label><input checked class="required" name="normalization" type="radio"
                                                      value="0"> False </label>
                                    </div>

                                    <span>norm:</span>
                                    <select disabled class="form-control required" id="norm" name="norm">
                                        <option value="l1"> L1</option>
                                        <option value="l2"> L2</option>
                                    </select>
                                </div>
                                <div class="col-lg-3">
                                    <label>Binarization: <i class="fa fa-question-circle parameter_value_off"
                                                            id="q7"></i></label>

                                    <div class="radio i-checks">
                                        <label><input class="required" name="binarization" type="radio" value="1">
                                            True </label>
                                        <br>
                                        <label><input checked class="required" name="binarization" type="radio"
                                                      value="0"> False </label>
                                    </div>

                                    <div class="row text-center">
                                        <label>Threshold = <span class="example-val parameter_value_off"
                                                                 id="binarization_threshold-value"></span></label>

                                        <div class="col-lg-10 col-lg-offset-1">
                                            <div id="binarization-slider"></div>
                                            <input id="binarization_threshold" name="binarization_threshold"
                                                   type="hidden" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label>Outlier Detection: <i class="fa fa-question-circle parameter_value_off"
                                                                 id="q8"></i></label>

                                    <div class="radio i-checks">
                                        <label><input class="required" name="outlier_detection" type="radio"
                                                      value="1"> True </label>
                                        <br>
                                        <label><input checked class="required" name="outlier_detection" type="radio"
                                                      value="0"> False </label>
                                    </div>
                                </div>
                            </div>

                        </section>
                        <input type="submit" value="Select" />
                    </form>
                </div>
            </div>
        </div>
    </div>

{% else %}
    <div class="wrapper wrapper-content animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content text-center p-md">
                        <h2><span>Sorry! You must be logged in to access this area.</span></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <a href="/login" class="btn btn-default btn-sm"><span class="fa fa-sign-in"></span>&nbsp;&nbsp;Login</a>
            <a href="/register" class="btn btn-default btn-sm"><span class="fa fa-user-plus"></span>&nbsp;&nbsp;Register</a>
        </div>
    </div>
{% endif %}

{% endblock %}


{% block scripts %}
    {{ parent() }}
    {% javascripts
    'assets/js/plugins/steps/jquery.steps.js'
    'assets/js/plugins/validate/jquery.validate.min.js'
    'assets/js/plugins/noUiSlider/jquery.nouislider.all.js'
    'assets/js/plugins/qTip/jquery.qtip.js'
    'assets/js/plugins/iCheck/icheck.js' output='compiled/js/create-analysis.js'
    'assets/js/form_helpers.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
